<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (imagens) {
      <div>
        <h2 data-cy="imagensDetailsHeading"><span jhiTranslate="graoDiretoMvpApp.imagens.detail.title">Imagens</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ imagens.id }}</span>
          </dd>
          <dt><span jhiTranslate="graoDiretoMvpApp.imagens.imagemContent">Imagem Content</span></dt>
          <dd>
            @if (imagens.imagemContent) {
              <div>
                <a (click)="openFile(imagens.imagemContent, imagens.imagemContentContentType)">
                  <img
                    [src]="'data:' + imagens.imagemContentContentType + ';base64,' + imagens.imagemContent"
                    style="max-width: 100%"
                    alt="imagens image"
                  />
                </a>
                {{ imagens.imagemContentContentType }}, {{ byteSize(imagens.imagemContent) }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="graoDiretoMvpApp.imagens.imagemContentType">Imagem Content Type</span></dt>
          <dd>
            <span>{{ imagens.imagemContentType }}</span>
          </dd>
          <dt><span jhiTranslate="graoDiretoMvpApp.imagens.localImagem">Local Imagem</span></dt>
          <dd>
            <span jhiTranslate="{{ 'graoDiretoMvpApp.LocalImagem.' + imagens.localImagem }}">{{ imagens.localImagem }}</span>
          </dd>
          <dt><span jhiTranslate="graoDiretoMvpApp.imagens.estabelecimento">Estabelecimento</span></dt>
          <dd>
            @if (imagens.estabelecimento) {
              <div>
                <a [routerLink]="['/estabelecimento', imagens.estabelecimento.id, 'view']">{{ imagens.estabelecimento.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="graoDiretoMvpApp.imagens.produto">Produto</span></dt>
          <dd>
            @if (imagens.produto) {
              <div>
                <a [routerLink]="['/produto', imagens.produto.id, 'view']">{{ imagens.produto.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/imagens', imagens.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
