/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background-size: contain;
  }
}
/* restaurante-info.component.css */

.capa {
  max-height: 240px;
}

.nome-restaurante-detalhe {
  display: flex;
  flex-direction: column;
}

img.image-capa {
  height: 200px;
  background-size: contain;
}

.info {
  display: flex;
  align-items: center;
  padding: 10px;
}

.nome-restaurante {
  margin-left: 10px;
}
.restaurante-info-container {
  min-width: 100%;
  background-color: var(--background);
  border-radius: 1.5rem;
  box-shadow: var(--shadow);
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.produto-info-container {
  max-width: 700px;
  background-color: var(--background);
  border-radius: 1.5rem;
  box-shadow: var(--shadow);
  flex-basis: calc(47% - 20px);
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.produto-info-container:hover {
  transform: scale(1.05); /* Aumenta um pouco o tamanho ao passar o mouse */
}

.detalhe-restaurantes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.div-detalhe {
  min-width: 40%;
  overflow: hidden;
  max-height: 230px;
  border-radius: 1.5em;
}

.imagem-produto {
  max-width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.produto-info-container:hover .imagem-produto {
  transform: scale(1.1); /* Aumenta um pouco a imagem ao passar o mouse */
}

.produto-info-container:hover .nome-restaurante-detalhe label {
  color: rgb(204, 0, 0); /* Muda a cor do texto ao passar o mouse */
}

.section-container {
  margin-bottom: 40px; /* Adiciona um espaçamento entre as seções */
  border: 2px solid #ffa5a5; /* Adiciona uma borda sólida */
  padding: 10px; /* Adiciona um preenchimento interno */
  border-radius: 1.5rem;
  margin-top: 20px;
}

.section-title {
  color: #000000; /* Cor do título da seção */
  font-size: 24px; /* Tamanho do título da seção */
  margin-bottom: 10px; /* Espaçamento inferior do título */
  font-weight: 600;
}

label {
  font-weight: 500;
  margin-bottom: 5px;
}
