<div>
  <h2 id="page-heading" data-cy="ProdutoHeading">
    <span jhiTranslate="graoDiretoMvpApp.produto.home.title">Produtos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="graoDiretoMvpApp.produto.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-produto"
        [routerLink]="['/produto/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="graoDiretoMvpApp.produto.home.createLabel">Criar novo Produto</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (produtos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="graoDiretoMvpApp.produto.home.notFound">Nenhum Produto encontrado</span>
    </div>
  }

  @if (produtos && produtos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nome">
              <div class="d-flex">
                <span jhiTranslate="graoDiretoMvpApp.produto.nome">Nome</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descricao">
              <div class="d-flex">
                <span jhiTranslate="graoDiretoMvpApp.produto.descricao">Descricao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="preco">
              <div class="d-flex">
                <span jhiTranslate="graoDiretoMvpApp.produto.preco">Preco</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="desconto">
              <div class="d-flex">
                <span jhiTranslate="graoDiretoMvpApp.produto.desconto">Desconto</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="imagemProduto">
              <div class="d-flex">
                <span jhiTranslate="graoDiretoMvpApp.produto.imagemProduto">Imagem Produto</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="categoriaProduto.id">
              <div class="d-flex">
                <span jhiTranslate="graoDiretoMvpApp.produto.categoriaProduto">Categoria Produto</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cardapio.id">
              <div class="d-flex">
                <span jhiTranslate="graoDiretoMvpApp.produto.cardapio">Cardapio</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody
          infinite-scroll
          (scrolled)="loadPage(page + 1)"
          [infiniteScrollDisabled]="page - 1 >= links['last']"
          [infiniteScrollDistance]="0"
        >
          @for (produto of produtos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/produto', produto.id, 'view']">{{ produto.id }}</a>
              </td>
              <td>{{ produto.nome }}</td>
              <td>{{ produto.descricao }}</td>
              <td>{{ produto.preco }}</td>
              <td>{{ produto.desconto }}</td>
              <td>
                @if (produto.imagemProduto) {
                  <a (click)="openFile(produto.imagemProduto, produto.imagemProdutoContentType)" jhiTranslate="entity.action.open">Abrir</a>
                  <span>{{ produto.imagemProdutoContentType }}, {{ byteSize(produto.imagemProduto) }}</span>
                }
              </td>
              <td>
                @if (produto.categoriaProduto) {
                  <div>
                    <a [routerLink]="['/categoria-produto', produto.categoriaProduto.id, 'view']">{{ produto.categoriaProduto.nome }}</a>
                  </div>
                }
              </td>
              <td>
                @if (produto.cardapio) {
                  <div>
                    <a [routerLink]="['/cardapio', produto.cardapio.id, 'view']">{{ produto.cardapio.nome }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/produto', produto.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/produto', produto.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(produto)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
