/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background-size: contain;
  }
}
/* restaurante-info.component.css */

.capa {
  width: 100%;
  overflow: hidden;
}

.capa img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.info {
  display: flex;
  align-items: center;
  padding: 10px;
}

.bolinha {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -80px;
}

.bolinha img {
  width: 100%;
}

.nome-restaurante {
  margin-left: 10px;
  align-items: flex-start;
}
.restaurante-info-container:hover .nome-restaurante h3 {
  color: rgb(204, 0, 0); /* Muda a cor do texto ao passar o mouse */
}
.restaurante-info-container {
  max-width: 300px;
  background-color: var(--background);
  border-radius: 1.5rem;
  box-shadow: var(--shadow);
  flex-basis: calc(40% - 20px);
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.restaurante-info-container:hover .capa img {
  transform: scale(1.1); /* Aumenta um pouco a imagem ao passar o mouse */
}
.restaurante-info-container:hover {
  transform: scale(1.05); /* Aumenta um pouco o tamanho ao passar o mouse */
}

.produto-info-container {
  max-width: 200px;
  background-color: var(--background);
  border-radius: 1.5rem;
  box-shadow: var(--shadow);
  flex-basis: calc(40% - 20px);
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.produto-info-container:hover {
  transform: scale(1.05); /* Aumenta um pouco o tamanho ao passar o mouse */
}

.produto-info-container:hover .div-produto img {
  transform: scale(1.1); /* Aumenta um pouco a imagem ao passar o mouse */
}
.produto-info-container:hover .nome-restaurante label:first-child {
  color: rgb(204, 0, 0); /* Muda a cor do texto ao passar o mouse */
}
.home-restaurantes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.search {
  width: 50%;
  height: 35px;
  border-radius: 5px;
  text-indent: 10px;
}

.div-search {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
}
.div-produto {
  width: 100%;
  overflow: hidden;
  max-height: 150px;
  transition: transform 0.3s ease-in-out;
}

.section-container {
  margin-bottom: 40px; /* Adiciona um espaçamento entre as seções */
  border: 2px solid #ffa5a5; /* Adiciona uma borda sólida */
  padding: 10px; /* Adiciona um preenchimento interno */
  border-radius: 1.5rem;
}

.section-title {
  color: #000000; /* Cor do título da seção */
  font-size: 24px; /* Tamanho do título da seção */
  margin-bottom: 10px; /* Espaçamento inferior do título */
  font-weight: 600;
}
