@import 'bootstrap-variables';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

/* Increase contrast of links to get 100% on Lighthouse Accessibility Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
a {
  color: #533f03;
  font-weight: bold;
}

a:hover {
  color: #533f03;
}

/* override hover color for dropdown-item forced by bootstrap to all a:not([href]):not([tabindex]) elements in _reboot.scss */
a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

/* override .dropdown-item.active background-color on hover */
.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-active-bg, 50%);
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.form-control {
  background-color: #fff;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity list page css
========================================================================== */

.table-entities thead th .d-flex > * {
  margin: auto 0;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu {
  padding-left: 0px;
}

/* ==========================================================================
angular-cli removes postcss-rtl processed inline css, processed rules must be added here instead
========================================================================== */
/* page-ribbon.component.scss */
.ribbon {
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* navbar.component.scss */
.navbar {
  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }
}

.navbar-dark,
.navbar[data-bs-theme='dark'] {
  --bs-navbar-color: rgb(255, 255, 255) !important;
  --bs-navbar-hover-color: rgb(248, 78, 78) !important;
  --bs-navbar-active-color: #ff5f5f !important;
}

nav.navbar.navbar-dark.navbar-expand-md.bg-dark {
  background-color: rgb(24, 24, 24) !important;
}

label {
  font-weight: 500;
}

.mb-3 {
  min-width: 389px;
}

/* botoes de ativar e desativar */

.btn-toggle.active {
  background-color: var(--bs-primary);
  color: var(--bs-primary-color);
}

.btn-toggle.inactive {
  background-color: var(--bs-secondary);
  color: var(--bs-secondary-color);
}

.btn-toggle {
  padding: 5px 5px;
  margin-right: 8px;
  margin-left: 8px;
  width: 70px;
  color: #000;
  border: 1px solid rgb(117, 114, 114);
  cursor: pointer;
  border-radius: 20px;
}

.checkbox {
  display: flex;
  align-items: center;
}

/* tela de login */

.imagemlogo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 172px;
  margin-top: -37px;
  margin-bottom: -20px;
}

.imagemApresentacao {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 39vw;
  background-image: url(/content/images/banner.jpg);
}

:root {
  font-size: 100%;
  --white: oklch(100% 0 0);
  --primary-light: oklch(78.81% 0.109 255.212);
  --primary: oklch(58.63% 0.227 281.34);
  --primary-dark: oklch(47.56% 0.273 284.25);

  --greyLight-1: oklch(93.77% 0.015 257.2);
  --greyLight-2: oklch(85.86% 0.033 270.41);
  --greyDark: oklch(73.91% 0.056 267.7);

  --background: var(--greyLight-1);
  --onBackground: var(--greyDark);

  --surface: var(--primary);
  --onSurface: var(--white);
  --onSurface-Dark: oklch(58.2% 0.228 266.74);

  --shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}

.login {
  background-color: var(--background);
  padding: 1.25rem 2.5rem;
  border-radius: 1.5rem;
  box-shadow: var(--shadow);
  flex-basis: 35%;
}

.login a {
  text-decoration: none;
  color: var(--onSurface-Dark);
}

.banner-login {
  flex-basis: 60%; /* Adjust as needed */
}

.login-tela {
  display: flex;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border-radius: 0.8rem;
  transition: 300ms ease;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  color: var(--onSurface);
}

.btn:active {
  box-shadow:
    inset 0.2rem 0.2rem 1rem var(--primary-dark),
    inset -0.2rem -0.2rem 1rem var(--primary-light);
  color: var(--onSurface);
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
